.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .glassmorph-card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    transition: ease-in-out 400ms;
}
/* .container .glassmorph-card:hover{
    transform-origin: 50% 50%;
transform: rotate3d(2, 1, -8, 
-4deg);
} */

.container .glassmorph-card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: ease-in-out .5s;
}
.container .glassmorph-card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}
.container .glassmorph-card .content h2{
    margin: 0;
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}
.container .glassmorph-card .content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}
.container .glassmorph-card .content .price{
    font-size: 40px;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #fff;
    z-index: 2;
}
.container .glassmorph-card .content ul{
    margin: 0;
    padding: 0;
}
.container .glassmorph-card .content ul li{
    padding: 10px 0;
    list-style: none;
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.container .glassmorph-card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}